.wrapper {
    background: var(--secondary-text-color);
    padding: 50px 50px 25px;
}

@media (min-width: 320px) {
    .wrapper {
        padding: 50px 25px 20px;
    }
}
@media (min-width: 768px) {
    .wrapper {
        padding: 75px 50px 25px;
    }
}

@media (min-width: 968px) {
    .wrapper {
        padding: 100px 50px 25px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 150px 75px 25px;
    }
}