.cardContainer, .accordionItem {
    display: flex;
    flex-direction: column;
}

.cardContainer {
    align-items: center;
    gap: 50px;
    width: 100%;
}

.accordionItem {
    padding: 20px;
    background: var(--secondary-text-color);
    border-radius: 15px;
    width: 100%;
}

.accordionOverlay {
    display: flex;
    align-items: flex-start;
}



.detailsContainer {
    width: 60%;
}

.buttonSection {
    width: 40%;
}

.timeAndDateSlots {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.imageSection {
    display: flex;
    position: relative;
    background: var(--sky-blue);
    width: fit-content;
    height: fit-content;
    padding: 25px;
    border-radius: 50%;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    width: 100%;
}

.addressContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.consulationFee {
    display: flex;
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 400;
}

.accordionContent {
    border-top: 1px solid #F0F0F5;
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 0 10px;
    margin: 50px 0;
}
.slotsAvailable {
    display: flex;
    gap: 30px;
    text-align: left;
    padding: 20px 0;
}
.timeSlotsAvailable {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    gap: 10px;
    color: var(--aqua-blue);
    flex-wrap: wrap;
}

.slotsContainer {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.ratingSection {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 50px;
    border-top: 2px dashed #E8E8F0;
    
}

.ratingContainer {
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--apple-green);
    width: 45px;
    height: auto;
    gap: 0.5rem;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.floatingAdMyBoookings img {
    width: clamp(50px, 100%, 325px);
    height: clamp(100px, auto, 268px);
}

.bookingsContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

.bookingDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.slotsContainer {
    display: flex;
    width: 100%;
}

.timeContainer, .dateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-family: var(--lato-font-family);
    font-size: 14px;
}
.timeContainer {
    color: var(--aqua-blue);
    border: 1px solid var(--aqua-blue);
    width: 5.5rem;
    height: 2rem;
    font-weight: 400;
}
.dateContainer {
    color: var(--forest-green);
    border: 1px solid var(--apple-green);
    font-weight: 700;
    width: 7rem;
    height: 2rem;
}

.pageNameContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end; 
    padding: 20px 50px;
}

@media (min-width: 320px) {
    .accordionOverlay {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    .detailsContainer {
        align-items: center;
        text-align: center;
    }
    .address, .consulationFee {
        align-items: center;
    }
    .hospitalImage {
        width: 40px;
        height: auto;
    }
    .consulationFee {
        flex-direction: column;
    }
    .buttonSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .iconSection {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .slotsContainer {
        display: flex;
        padding-left: 0px;
        gap: 20px;
    }

    .period {
        width: 50%;
    }

    .bookingsContainer {
        flex-direction: column;
        height: 100%;
    }
    .floatingAdMyBoookings {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .pageName {
        height: 35vh;
    }
    .pageNameContainer {
        justify-content: center;
    }

}

@media (min-width: 350px) {
    .pageName {
        height: 27.5vh;
    }
}

@media (min-width: 380px) {
    .pageName {
        height: 26vh;
    }
}

@media (min-width: 420px) {
    .pageName {
        height: 22.5vh;
    }
}

@media (min-width: 480px) {
    .hospitalImage {
        width: 50px;
        height: auto;
    }
    .period {
        width: 30%;
    }
    .pageName {
        height: 24vh;
    }
}

@media (min-width: 600px) {
    .bookingsContainer {
        flex-direction: row;
    }
    .floatingAdMyBoookings {
        height: 100%;
        width: 30%;
    }
    .pageNameContainer {
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .hospitalImage {
        width: 60px;
        height: auto;
    }
    .period {
        width: 20%;
    }
    .pageName {
        height: 20vh;
    }
    
}

@media (min-width: 960px) {
    .accordionOverlay {
        flex-direction: row;
    }
    .detailsContainer {
        align-items: flex-start;
        text-align: left;
    }
    .address, .consulationFee {
        align-items: flex-start;
    }
    .hospitalImage {
        width: 70px;
        height: auto;
    }
    .period {
        width: 10%;
    }
    .buttonSection {
        width: 70%;
    }
    .floatingAdMyBoookings {
        width: 30%;
    }
    .pageName {
        height: 30vh;
    }
}

@media (min-width: 1300px) {
    .accordionOverlay {
        gap: 50px;
    }
    .hospitalImage {
        width: 80px;
        height: auto;
    }
    .consulationFee {
        flex-direction: row;
    }
}