.adContainer {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.mobileContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.device {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.downloadAppSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    position: relative;
    margin-top: 30px;
}

.floatingArrow {
    position: absolute;
    transition: top 0.2s, left 0.2s; /* Smooth transition for responsive changes */
}

.inputSection {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 3rem;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    align-items: center;
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 8px;
    width: clamp(300px, 25vw, 590px);
    height: 47px;
    background-color: #fff; /* Use shorthand for white */
}

.prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--lato-font-family);
    margin-right: 15px;
    color: #000; /* Black */
    border-right: 1px solid rgba(240, 240, 240, 1);
    height: 100%;
    width: 17.5%;
    font-weight: 700;
    font-size: 14px;
}

.phoneInput {
    border: none;
    outline: none;
    width: 80%;
    font-family: var(--base-font-family);
    font-size: 12px;
    font-weight: 500;
}

.downloadButton {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.phoneInput::placeholder {
    color: rgba(180, 180, 190, 1);
}

/* Hide spinner for number inputs */
input[type='text']::-webkit-inner-spin-button,
input[type='text']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 320px)  {
    .downloadContainer {
        width: 75%;
    }
    .adContainer {
        flex-direction: column-reverse;
        height: 100vh;
    }
    .floatingArrow {
        top: 7.5%;
        left: 2.5%;
    }
    .inputSection {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 350px)  {
    .adContainer {
        height: 75vh;
    }
}

@media (min-width: 380px)  {
    .adContainer {
        height: 70vh;
    }
    .floatingArrow {
        top: 7.5%;
        left: 10%;
    }
    .downloadContainer {
        width: 70%;
    }
}

@media (min-width: 420px)  {
    .floatingArrow {
        top: 15%;
        left: 10%;
    }
    .downloadContainer {
        width: 60%;
    }
}

@media (min-width: 480px)  {
    .downloadContainer {
        width: 50%;
    }
    .floatingArrow {
        top: 20%;
        left: 20%;
    }
    .adContainer {
        height: 75vh;
    }
}

@media (min-width: 500px)  {
    .adContainer {
        height: 85vh;
    }
}

@media (min-width: 769px)  {
    .floatingArrow {
        top: 30%;
        left: 20%;
    }
    .adContainer {
        height: 92.5vh;
    }

    .inputSection {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 960px)  {
    .adContainer {
        flex-direction: row;
        height: 80vh;
    }
    .downloadContainer {
        width: 80%;
    }
    .floatingArrow {
        top: 30%;
        left: -7.5%;
    }
}

@media (max-width: 960px) {

    
    .device {
        width: 50%;
    }
    .downloadAppSection {
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .downloadButton {
        justify-content: center;
    }

    .inputSection {
        margin-bottom: 2rem;
        justify-content: center;
    }
}



@media (min-width: 1200px)  {
    .adContainer {
        height: 75vh;
    }
    .floatingArrow {
        top: 28.5%;
        left: -7.5%;
    }
}
