.newsContainer {
    background: var(--secondary-text-color);
    padding: 50px 0;
}
.qaHeading {
    margin-bottom: 30px;
}
.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.card {
    width: 25% !important;
    border-radius: 0.5rem;
    border: 1px solid #00000012;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 1rem;
    margin-left: 1rem;
    height: 25vh;
}
.secondaryInfo {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 5vw, 1rem);
    color: var(--grayish-blue);
    font-weight: 500;
    font-size: clamp(12px, 2vw, 16px);
}
.divider {
    display: flex;
    width: 1px;
    height: 16px;
    background-color: #dddddd;
}
.doctorProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .cardContainer {
        gap: 1rem;
        justify-content: space-evenly;
    }
    .card {
        width: 27.5% !important;
    }
    .cardDetails {
        height: 20vh;
    }
}

@media (max-width: 768px) {
    .cardContainer {
        gap: 1rem;
        justify-content: center;
    }
    .card {
        width: 30% !important;
    }
    .cardDetails {
        height: 20vh;
    }
}

@media (max-width: 650px) {
    .cardSummary {
        font-size: 12px !important;
    }
    .doctorName {
        font-size: 11px !important;
    }
    .secondaryInfo {
        font-size: 10px;
    }
    .cardDetails {
        height: 17.5vh;
        gap: 0.75rem;
        margin-left: 0;
    }
}

@media (max-width: 580px) {
    .cardSummary {
        font-size: 14px !important;
    }
}

@media (max-width: 480px) {
    .cardContainer {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }
    .card {
        width: 80% !important;
    }
    .cardDetails {
        margin-left: 0.5rem;
        height: 20vh;
    }
    .cardSummary {
        font-size: 16px !important;
    }
    .doctorName {
        font-size: 15px !important;
    }
    .secondaryInfo {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .cardDetails {
        height: 25vh;
    }
    .cardSummary {
        font-size: 14px !important;
    }
    .doctorName {
        font-size: 13px !important;
    }
}