:root {
  --primary-color: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
  --secondary-color: linear-gradient(81deg, #EFF5FE 9.01%, rgba(241, 247, 255, 0.47) 89.11%);

  --primary-text-color: #2AA8FF;
  --secondary-text-color: rgba(255, 255, 255, 1);

  --aqua-blue: #2AA7FF;
  --navy-blue: #1B3C74;
  --midnight-blue: rgba(16, 40, 81, 1);

  --base-font-family: 'Poppins', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: var(--base-font-family);
}