:root {
  --primary-color: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
  --secondary-color: linear-gradient(81deg, #EFF5FE 9.01%, rgba(241, 247, 255, 0.47) 89.11%);

  --aque-breeze-color: linear-gradient(144.2deg, #E1F3FF 0%, #2AA7FF 100%);
  --ocean-wave-gradient: linear-gradient(91.75deg, #2AA7FF 1.4%, #0C8CE6 100.57%);


  --primary-text-color: #2AA8FF;
  --secondary-text-color: rgba(255, 255, 255, 1);

  --aqua-blue: #2AA7FF;
  --bright-sky-blue: #14BEF0;
  --sky-blue: #8CCFFF;                                         
  --faint-aqua-blue: rgba(42, 167, 255, 0.08);
  --navy-blue: #1B3C74;
  --midnight-blue: #102851;
  --grayish-blue: #77829D;
  --cadet-blue: #ABB6C7;

  --ghost-white: #FAFBFE;

  --chinese-silver: #787887;

  --charcoal-gray: #414146;
  --slate-gray: #5C6169;
  --cool-gray: #9CA3AF;

  --lime-green: #02A401;
  --jade-green: #01A400;
  --apple-green: #00A500;
  --forest-green: #007100;


  --base-font-family: 'Poppins', sans-serif;
  --lato-font-family: 'Lato', sans-serif;
  --inter-font-family: 'Inter', sans-serif;
  --ubuntu-font-family: 'Ubuntu', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  text-align: center;
  font-family: var(--base-font-family);
}